---
import Tags from './Tags.astro'
import FormattedDate from './FormattedDate.astro'
import MobileMapTypeButtons from './MobileMapTypeButtons.astro'

const { title, subtitle, surveyDate, hero, coordinateSystem, lonLat, elevation, tags, software } = Astro.props.frontmatter
---

<a href={hero} target='_blank' class="flex justify-center">
  <img src={hero} class='max-h-96 max-w-2xl' />
</a>
<div class='p-8 max-w-none md:max-w-2xl'>
  <h1 class='text-6xl text-sage font-HighAlpine'>{title}</h1>
  <h2 class='text-xl text-indigo-950 font-Bell'>{subtitle}</h2>
  <Tags tags={tags} />
  <div class='text-indigo-950 text-right text-lg mb-3 mt-4'>
    <FormattedDate date={surveyDate} />
  </div>
  <article class='prose prose-slate prose-lg text-indigo-950 max-w-none'>
    <slot />
  </article>
  <div class='mt-6'>
    <dl class='grid grid-cols-1 sm:grid-cols-2'>
      <div class='border-t border-stone-300 px-4 py-6 sm:col-span-2 sm:px-0'>
        <dt class='font-semibold leading-6 text-indigo-950'>Coordinate System</dt>
        <dd class='mt-1 leading-6 text-xl text-indigo-950 sm:mt-2 font-Inconsolata'>{coordinateSystem}</dd>
      </div>
      <div class='border-t border-stone-300 px-4 py-6 sm:col-span-1 sm:px-0'>
        <dt class='font-semibold leading-6 text-indigo-950'>Lat / Lon</dt>
        <dd class='mt-1 leading-6 text-indigo-950 text-xl sm:mt-2 font-Inconsolata'>{lonLat[1]}°, {lonLat[0]}°</dd>
      </div>
      <div class='border-t border-stone-300 px-4 py-6 sm:col-span-1 sm:px-0'>
        <dt class='font-semibold leading-6 text-indigo-950'>Elevation</dt>
        <dd class='mt-1 leading-6 text-indigo-950 text-xl sm:mt-2 font-Inconsolata'>{elevation}</dd>
      </div>
      <div class='border-t border-stone-300 px-4 py-6 sm:col-span-2 sm:px-0'>
        <dt class='font-semibold leading-6 text-indigo-950'>Photogrammetry Software</dt>
        <dd class='mt-1 leading-6 text-xl text-indigo-950 sm:mt-2 font-Inconsolata'>{software}</dd>
      </div>
    </dl>
  </div>
  <div class="md:hidden flex justify-center">
    <div class="text-2xl">
      <h3 class="text-3xl text-orange-600 font-Bell text-center pb-2">View Map</h3>
      <MobileMapTypeButtons />
    </div>
  </div>
</div>
